[tool.poetry]
name = "reasoner-validator"
version = "3.2.1"
description = "Validation tools for Reasoner API"
authors = [
    "Richard Bruskiewich <richard.bruskiewich@delphinai.com>",
    "Patrick Wang <patrickelvin@gmail.com>"
]
maintainers = [
    "Richard Bruskiewich <richard.bruskiewich@delphinai.com>",
    "Kenneth Morton <kenneth kenny@covar.com>"
]
license = "MIT"
readme = "README.md"

homepage = "https://github.com/NCATSTranslator"
repository = "https://github.com/NCATSTranslator/reasoner-validator"
documentation = "https://translator-reasoner-validator.readthedocs.io/en/latest/"
keywords = [
    "NCATS",
    "Biomedical Data Translator",
    "Translator",
    "ReasonerAPI",
    "TRAPI",
    "validation",
    "Biolink Model"
]
classifiers = [
    "Operating System :: OS Independent",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Bio-Informatics"
]

packages = [{include = "reasoner_validator"}]

include = [
    { path = "tests" },
    { path = "docs" }
]

[tool.poetry.dependencies]
python = "^3.8"
kgx = "^1.6.0"
jsonschema = "^4.17.0"
PyYAML = "^6.0"
requests = "^2.28.1"
linkml-runtime = "^1.3.7"
linkml = "^1.3.14"
bmt = "^0.8.12"
fastapi = "^0.68"
pydantic = "^1.8.0"
uvicorn = "^0.15"
numpydoc = { version = "^1.5.0", extras = ["docs"] }
sphinx = { version = "^5.3.0", extras = ["docs"] }
myst-parser = { version = "^0.18.1", extras = ["docs"] }

[tool.poetry.group.dev.dependencies]
pytest = "6.2.4"

[tool.poetry.urls]
"Change Log" = "https://github.com/NCATSTranslator/reasoner-validator/blob/master/CHANGELOG.md"
"Bug Tracker" = "https://github.com/NCATSTranslator/reasoner-validator/issues"

[tool.poetry.extras]
docs = ["numpydoc", "sphinx", "myst-parser"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
